<div>
    <label>Location</label>
    <input type="text" name="location" value="<%= building.location %>">
</div>
<div>
    <label>Short Name</label>
    <input type="text" name="short_name" value="<%= building.short_name %>">
</div>
<div>
    <label>Address</label>
    <input type="text" name="address" value="<%= building.address %>">
</div>
<div>
    <label>Telephone Number</label>
    <input type="number" name="telephone_number" min="1" value="<%= building.telephone_number %>">
</div>
<div>
    <label>Building Type</label>
    <input type="text" name="building_type" value="<%= building.building_type %>">
</div>
<div>
    <label>Tech Service</label>
    <select name="tech_service" value="<%= building.tech_service %>">
        <option name="tech_service" value="full">Full</option>
        <option name="tech_service" value="contracted">Contracted</option>
    </select>
</div>
<div>
    <label name="cash_can_access" value="<%= building.cash_can_access %>">Cash Can Access</label>
    <input type="radio" name="cash_can_access" value="true">True</option>
    <input type="radio" name="cash_can_access" value="false">False</option>
</div>
<div>
    <label>Drop Day(s) [true or false only]</label>
    <div>
        <label>Monday</label>
        <input type="text" name="monday">
    </div>
    <div>
        <label>Tuesday</label>
        <input type="text" name="tuesday">
    </div>
    <div>
        <label>Wednesday</label>
        <input type="text" name="wednesday">
    </div>
    <div>
        <label>Thursday</label>
        <input type="text" name="thursday">
    </div>
    <div>
        <label>Friday</label>
        <input type="text" name="friday">
    </div>
</div>