<link href="/stylesheets/style.css" rel="stylesheet" type="text/css" />

<div class="wrapper">
  <div class="top_wrapper">
    <h1>Machine Name / Asset # </h1>
    <h2><a href="/machines/edit/<%= machine._id%>">Edit</a> </h2>
    <div class="machine_header">
      <div id="left_side">
        <h2> Machine Mode = <%= machine.machine_model %>  </h2>
      </div>
      <div id="right_side">
        <h2> Status: <%= machine.status %> </h2>
      </div>
    </div>
  </div>

  <div class="content_bubble">
    <h2>Overview: </h2>
    <div id="machine_overview">Owner: TODO: ADD OWNER TYPES TO INDIVIDUAL MACHINES</div>
    <div id="machine_overview">Machine ID: <%= machine._id  %> </div>
    <p>
      <%= machine.description  %>
    </p>
  </div>

  <div class="content_bubble">
    <h2>Datasheet: </h1>
      TODO: DATASHEET LOADED FROM PDF
  </div>
</div>