<link href="/stylesheets/style.css" rel="stylesheet" type="text/css" />

<div class="wrapper">

  <a href="/posts/new">New Post</a>

  <br /> <br />  <br />

  <p id="right_side">
    Welcome <%= user.name %>! <br />
    <a href="/logout"> Log Out </a>
  </p>

  <h1>Pending: </h1>
  <div class="database_wrapper">
    <div class="database_label"> Time | Location | Asset | Issue : </div>

    <% postsPending.forEach(post => {%>
    <div class="database_item">
      
        <%= post.location %>
        # <%= post.asset_number %>
        : <%= post.post %>
      
      <div class="post_buttons">
        <a href="/posts/<%= post._id %>"><img src="/assets/comment.png" height="30px" alt="comment button"></a>
        <a href="/posts/all>"><img src="/assets/edit.png" height="30px" alt="edit button"></a>
        <a href="/posts/all"><img src="/assets/transfer.png" height="30px" alt="edit button"></a>
        <a href="/posts/delete"> <img src="/assets/trash.png" height="30px" alt="edit button"></a>
        <a href="/posts/all"><img src="/assets/complete.png" height="30px" alt="edit button"></a>
      </div>

    </div>
    <% }) %>
  </div>

  <h1>Holding: </h1>
  <div class="database_wrapper">
    <div class="database_label"> Date | Location | Asset | Issue : </div>
    <% postsHolding.forEach(post => {%>
      <div class="database_item">
  
        <%= post.post %>
  
        <div class="post_buttons">
          <a href="/posts/<%= post._id %>"><img src="/assets/comment.png" height="30px" alt="comment button"></a>
          <a href="/posts/delete>"><img src="/assets/edit.png" height="30px" alt="edit button"></a>
          <a href="/posts/show"><img src="/assets/transfer.png" height="30px" alt="edit button"></a>
          <a href="/posts/delete"><img src="/assets/trash.png" height="30px" alt="edit button"></a>
          <a href="/posts/show"><img src="/assets/complete.png" height="30px" alt="edit button"></a>
        </div>
  
      </div>
      <% }) %>
  </div>

  <h2>Drops Today: </h1>
    <div class="content_bubble"> 
      <%- include('partials/allBuildings.ejs', {buildings: buildingsDrop}) %>
    </div>

    <h2>Locations : </h1>
      <div class="content_bubble">
        <%- include('partials/allBuildings.ejs') %>
      </div>

</div>