<link href="/stylesheets/style.css" rel="stylesheet" type="text/css" />

<div class="wrapper">
  <h1><%= building.location%></h1>

  <div id="manager">
    <a href="/buildings/edit/<%= building._id%>">Edit</a>
  </div>

  <div class="machine_header">

    <div id="left_side">
      <br />
      <div id="location_overview"> Cell: <a
          href="tel:<%= building.telephone_number %>"><%= building.telephone_number %></a></div>
      <div id="location_overview"> Address: <%= building.address %> </div>
    </div>
    <div id="right_side">
      <img id="header_pic" src="/assets/locations/<%= building.building_type %>.jpg" height="40%" width="40%"
        alt="picture of slot machine">
    </div>
  </div>

  <h2> Overview </h2>
  <div class="text_bubble">
    <div id="location_overview"> Service: <%= building.tech_service %> </div>
    <div id="location_overview"> Cash-can Access: <%= building.cash_can_access %> </div>
    <div id="location_overview"> Drop Day(s): <%= building.drop_days %> </div>
  </div>
  <div class="content_bubble">
    <div class="individual_desk_wrapper"> Front Desk: <br /><br /> <%= building.front_desk %> </div>
    <div class="individual_desk_wrapper"> Vault: <br /><br /> <%= building.vault %> </div>
    <div class="individual_desk_wrapper"> Card Printer: <br /><br /> <%= building.card_printer %> </div>
  </div>

  <h2> Machines </h2>
    <div class="content_bubble">
      <%- include('partials/allMachines') %>
    </div>
</div>