<div>
    <label>Location</label>
    <input type="text" name="location" value="<%= building.location %>">
</div>
<div>
    <label>Building Type</label>
    <input type="text" name="tech_service" value="<%= building.building_type %>">
</div>
<div>
    <label>Address</label>
    <input type="text" name="address" value="<%= building.address %>">
</div>
<div>
    <label>Telephone Number</label>
    <input type="number" name="telephone_number" min="1" value="<%= building.telephone_number %>">
</div>
<div>
    <label>Tech Service</label>
    <input type="text" name="tech_service" value="<%= building.tech_service %>">
</div>
<div>
    <label>Cash Can Access</label>
    <input type="text" name="cash_can_access" value="<%= building.cash_can_access %>">
</div>
<div>
    //TO DO, MAKE THIS CREATE THE DESIGNATED NUMBER OF MACHINES IF THERE ISNT THAT MANY PRESENT
    <label>Number Of Machines</label>
    <input type="number" name="numberOfMachines" value="<%= building.numberOfMachines %>">
</div>
<div>
    <label>Vault</label>
    <input type="text" name="vault" value="<%= building.vault %>">
</div>
<div>
    <label>Card Printer</label>
    <input type="text" name="card_printer" value="<%= building.card_printer %>">
</div>
<div>
    <label>Front Desk</label>
    <input type="text" name="front_desk" value="<%= building.front_desk %>">
</div>

