<%- include('../partials/header.ejs') %>
<div class="individual_user_wrapper">
    <h4><%= user.name%></h4>
    <div>Username: <%= user.username %> </div>
    <div>Type: <%= user.authorizationLevel %> </div>
    <div>Phone #: <%= user.cell_number %> </div>

    <br />

    <a style="float: left; padding-left: 80px; margin-right: -50px;" href="/users/edit/<%= user._id%>">
        <button id="btn_accept"> Edit </button>
    </a>
    <%- include('delete', {url: `/users/delete/${user._id}`})%>
</div>