<div>
    <label>Location</label>
    <input type="text" name="location" value="<%= machine.location %>">
</div>
<div>
    <label>Asset Number</label>
    <input type="number" name="asset_number" value="<%= machine.asset_number %>">
</div>
<div>
    <label>Machine Model</label>
    <input type="text" name="machine_model" value="<%= machine.machine_model %>">
</div>
<div>
    <label>Status</label>
    <input type="text" name="status" value="<%= machine.status %>">
</div>
<div>
    <label>Owner</label>
    <input type="text" name="ownershipType" value="<%= machine.ownershipType %>">
</div>
<div>
    <label>Cabinet License Number</label>
    <input type="text" name="cabinet_license_number" value="<%= machine.cabinet_license_number %>">
</div>
<div>
    <label>Datasheet File Name</label>
    <input type="text" name="datasheet" value="<%= machine.datasheet %>">
</div>
<div>
    <label>Description</label>
    <input type="text" name="description" value="<%= machine.description %>">
</div>
<div>
    <label>Urgent?</label>
    <input type="text" name="urgent" value="<%= machine.urgent %>">
</div>
<div>
    <label>Created At Date</label>
    <input type="date" name="createdAt"
        value="<%= machine.createdAt == null ? '' : machine.createdAt.toISOString().split('T')[0] %>">
</div>