<%- include('../partials/header.ejs') %>

<div class="wrapper">
    <div class="text_bubble">
        <div class="comment_wrapper">

            <h1> <%= post.post %> </h1>
            <% if (locals.message) { %>
            <h2><%= message.commenterror %></h2>
            <% } %>

            Location: <%= post.location %>
            | Asset #<%= post.asset_number %>

            <br/>  <br/>
        </div>

        <% post.comments.forEach(comment => { %>
            <p class="database_comment"> <%= comment.comment %> </p>
            <% }); %>

        <%- include('_comment_form_fields') %>
    </div>
</div>